# Python cache folders
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE / Editor settings
.vscode/
.idea/

# System files (Windows / Mac)
Thumbs.db
.DS_Store

# Logs
*.log

# Python packages
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
